/* selector {
    property: value;
} */

* {
    color: green;
}

li { /* 태그에 가까울수록 먼 것을 이김 */ 
    color: blue;
}

#special { /* id */ 
    color: pink;
}

li#special { /* id가 special인 애들 중 li인 애들만 */
    color: rgb(95, 0, 184);
}

.red { /* class */
    width: 100px;
    height: 100px;
    background: yellow;
    padding: 20px 20px 20px 20px; /* 위 오른 아래 왼 */
    margin: 20px 0px; /* 위아래 양옆 */
}

button:hover { /* hover : 위에 올렸을 때 색이 바뀌는 것 */
    color: red;
    background: beige;
}

a[href] { /* a중 링크가 있는 애들만 */
    color: purple;
}  

a[href="https://naver.com"] { /* naver가 들어가 있는 애들만 */
    color: lightgreen;
}
/* ^href="" ~~로 시작하는 애들만, href$="" ~~로 끝나는 애들만 */
